@import 'utils';

.game-control {
    background-color: $oc-gray-0;
    width: 10 * block-sizes-for('normal');
    box-shadow: 0 0.2rem 0.4rem 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    .game-control-logo {
        background-color: $oc-cyan-4;
        color: $oc-gray-0;
        font-size: 3em;
        height: 6rem;
        line-height: 6rem;
        text-align: center;
    }
    .game-control-chatting {
        background-color: $oc-gray-1;
        flex: 1 1 1rem;
    }
    .game-control-team-selector {
        background-color: $oc-pink-4;
        height: 6rem;
    }
    .game-control-start {
        background-color: $oc-lime-4;
        height: 4rem;
    }
    .game-control-training {
        background-color: $oc-orange-4;
        height: 4rem;
    }
}