@import 'utils';
$RED : #FF0000;
$GRAPE : #862E9C;
$GREEN : #2B8A3E;
$YELLOW : #FFD43B;
$ORANGE : #D9480F;
$BLUE : #1864AB;
$CYAN : #3BC9DB;
$PINK : #ff69b4;
$LIME : #BFFF00;
$GREY : #999999;

.dot-block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: block-sizes-for('normal');
  height: block-sizes-for('normal');
  border: solid 0.1px $oc-gray-4;
  margin-right: -1px;
  margin-bottom: -1px;
  color: $oc-gray-9;

  &.red {
    border: solid 0.1px $RED;
    background: -webkit-linear-gradient(-225deg, rgba(0,0,0,0) 50%, rgba(0,0,0,0.0470588) 50%), -webkit-linear-gradient(45deg, rgba(0,0,0,0) 50%, rgba(255,255,255,0.2) 50%), -webkit-linear-gradient(-225deg, $RED 0, $RED 25%, rgba(0,0,0,0) 25%), -webkit-linear-gradient(-135deg, $RED 0, $RED 25%, rgba(0,0,0,0) 25%), -webkit-linear-gradient(-45deg, $RED 0, $RED 25%, rgba(0,0,0,0) 25%), -webkit-linear-gradient(-225deg, $RED 0, $RED 25%, rgba(0,0,0,0) 25%), $RED;
  }

  &.grape {
    border: solid 0.1px $GRAPE;
    background: -webkit-linear-gradient(-225deg, rgba(0,0,0,0) 50%, rgba(0,0,0,0.0470588) 50%), -webkit-linear-gradient(45deg, rgba(0,0,0,0) 50%, rgba(255,255,255,0.2) 50%), -webkit-linear-gradient(-225deg, $GRAPE 0, $GRAPE 25%, rgba(0,0,0,0) 25%), -webkit-linear-gradient(-135deg, $GRAPE 0, $GRAPE 25%, rgba(0,0,0,0) 25%), -webkit-linear-gradient(-45deg, $GRAPE 0, $GRAPE 25%, rgba(0,0,0,0) 25%), -webkit-linear-gradient(-225deg, $GRAPE 0, $GRAPE 25%, rgba(0,0,0,0) 25%), $GRAPE;
  }

  &.green {
    border: solid 0.1px $GREEN;
    background: -webkit-linear-gradient(-225deg, rgba(0,0,0,0) 50%, rgba(0,0,0,0.0470588) 50%), -webkit-linear-gradient(45deg, rgba(0,0,0,0) 50%, rgba(255,255,255,0.2) 50%), -webkit-linear-gradient(-225deg, $GREEN 0, $GREEN 25%, rgba(0,0,0,0) 25%), -webkit-linear-gradient(-135deg, $GREEN 0, $GREEN 25%, rgba(0,0,0,0) 25%), -webkit-linear-gradient(-45deg, $GREEN 0, $GREEN 25%, rgba(0,0,0,0) 25%), -webkit-linear-gradient(-225deg, $GREEN 0, $GREEN 25%, rgba(0,0,0,0) 25%), $GREEN;
  }

  &.yellow {
    border: solid 0.1px $YELLOW;
    background: -webkit-linear-gradient(-225deg, rgba(0,0,0,0) 50%, rgba(0,0,0,0.0470588) 50%), -webkit-linear-gradient(45deg, rgba(0,0,0,0) 50%, rgba(255,255,255,0.2) 50%), -webkit-linear-gradient(-225deg, $YELLOW 0, $YELLOW 25%, rgba(0,0,0,0) 25%), -webkit-linear-gradient(-135deg, $YELLOW 0, $YELLOW 25%, rgba(0,0,0,0) 25%), -webkit-linear-gradient(-45deg, $YELLOW 0, $YELLOW 25%, rgba(0,0,0,0) 25%), -webkit-linear-gradient(-225deg, $YELLOW 0, $YELLOW 25%, rgba(0,0,0,0) 25%), $YELLOW;
  }

  &.orange {
    border: solid 0.1px $ORANGE;
    background: -webkit-linear-gradient(-225deg, rgba(0,0,0,0) 50%, rgba(0,0,0,0.0470588) 50%), -webkit-linear-gradient(45deg, rgba(0,0,0,0) 50%, rgba(255,255,255,0.2) 50%), -webkit-linear-gradient(-225deg, $ORANGE 0, $ORANGE 25%, rgba(0,0,0,0) 25%), -webkit-linear-gradient(-135deg, $ORANGE 0, $ORANGE 25%, rgba(0,0,0,0) 25%), -webkit-linear-gradient(-45deg, $ORANGE 0, $ORANGE 25%, rgba(0,0,0,0) 25%), -webkit-linear-gradient(-225deg, $ORANGE 0, $ORANGE 25%, rgba(0,0,0,0) 25%), $ORANGE;
  }

  &.blue {
    border: solid 0.1px $BLUE;
    background: -webkit-linear-gradient(-225deg, rgba(0,0,0,0) 50%, rgba(0,0,0,0.0470588) 50%), -webkit-linear-gradient(45deg, rgba(0,0,0,0) 50%, rgba(255,255,255,0.2) 50%), -webkit-linear-gradient(-225deg, $BLUE 0, $BLUE 25%, rgba(0,0,0,0) 25%), -webkit-linear-gradient(-135deg, $BLUE 0, $BLUE 25%, rgba(0,0,0,0) 25%), -webkit-linear-gradient(-45deg, $BLUE 0, $BLUE 25%, rgba(0,0,0,0) 25%), -webkit-linear-gradient(-225deg, $BLUE 0, $BLUE 25%, rgba(0,0,0,0) 25%), $BLUE;
  }

  &.cyan {
    border: solid 0.1px $CYAN;
    background: -webkit-linear-gradient(-225deg, rgba(0,0,0,0) 50%, rgba(0,0,0,0.0470588) 50%), -webkit-linear-gradient(45deg, rgba(0,0,0,0) 50%, rgba(255,255,255,0.2) 50%), -webkit-linear-gradient(-225deg, $CYAN 0, $CYAN 25%, rgba(0,0,0,0) 25%), -webkit-linear-gradient(-135deg, $CYAN 0, $CYAN 25%, rgba(0,0,0,0) 25%), -webkit-linear-gradient(-45deg, $CYAN 0, $CYAN 25%, rgba(0,0,0,0) 25%), -webkit-linear-gradient(-225deg, $CYAN 0, $CYAN 25%, rgba(0,0,0,0) 25%), $CYAN;
  }

  &.pink {
    border: solid 0.1px $PINK;
    background: -webkit-linear-gradient(-225deg, rgba(0,0,0,0) 50%, rgba(0,0,0,0.0470588) 50%), -webkit-linear-gradient(45deg, rgba(0,0,0,0) 50%, rgba(255,255,255,0.2) 50%), -webkit-linear-gradient(-225deg, $PINK 0, $PINK 25%, rgba(0,0,0,0) 25%), -webkit-linear-gradient(-135deg, $PINK 0, $PINK 25%, rgba(0,0,0,0) 25%), -webkit-linear-gradient(-45deg, $PINK 0, $PINK 25%, rgba(0,0,0,0) 25%), -webkit-linear-gradient(-225deg, $PINK 0, $PINK 25%, rgba(0,0,0,0) 25%), $PINK;
  }

  &.lime {
    border: solid 0.1px $LIME;
    background: -webkit-linear-gradient(-225deg, rgba(0,0,0,0) 50%, rgba(0,0,0,0.0470588) 50%), -webkit-linear-gradient(45deg, rgba(0,0,0,0) 50%, rgba(255,255,255,0.2) 50%), -webkit-linear-gradient(-225deg, $LIME 0, $LIME 25%, rgba(0,0,0,0) 25%), -webkit-linear-gradient(-135deg, $LIME 0, $LIME 25%, rgba(0,0,0,0) 25%), -webkit-linear-gradient(-45deg, $LIME 0, $LIME 25%, rgba(0,0,0,0) 25%), -webkit-linear-gradient(-225deg, $LIME 0, $LIME 25%, rgba(0,0,0,0) 25%), $LIME;
  }

  &.grey {
    border: solid 0.1px $GREY;
    background: -webkit-linear-gradient(-225deg, rgba(0,0,0,0) 50%, rgba(0,0,0,0.0470588) 50%), -webkit-linear-gradient(45deg, rgba(0,0,0,0) 50%, rgba(255,255,255,0.2) 50%), -webkit-linear-gradient(-225deg, $GREY 0, $GREY 25%, rgba(0,0,0,0) 25%), -webkit-linear-gradient(-135deg, $GREY 0, $GREY 25%, rgba(0,0,0,0) 25%), -webkit-linear-gradient(-45deg, $GREY 0, $GREY 25%, rgba(0,0,0,0) 25%), -webkit-linear-gradient(-225deg, $GREY 0, $GREY 25%, rgba(0,0,0,0) 25%), $GREY;
  }

  &.transparent {
    border: solid 0;
    background: transparent;
  }

  &.first-item {
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
    border: dashed 4px $RED;
    margin: 2px;
  }

  &.small {
    width: block-sizes-for('view');
    height: block-sizes-for('view');
    font-size: 0.5rem;

    &.first-item {
      width: 1rem;
      height: 1rem;
      font-size: .7rem;
      border: dashed 1px $RED;
      margin: 1px;
    }
  }
  &.small:after {
    font-size: 0.5rem;
    margin-top: 0px;
  }
}