@import 'utils';

.lobby-page {
  display: flex;
  height:100vh;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;

  @include media("<large") {
    display: block;
  }
}

.gameplay-wrapper {
  display: flex;
  justify-content: center;
  
  background: $oc-gray-1;
}

.gameplay-page {
  display: flex;
  width: 70rem;
  min-width: 55rem;
  height: 100vh;
  align-items: center;
  flex-direction: row-reverse;
  
  .otherplayground {
    flex: 1;
    max-width: 70rem;
    margin: 0 auto;
  }

  @include media("<large") {
    min-width: auto;
    .otherplayground {
      max-width: 41rem;
      margin: 0 auto;
      padding-right: 4rem;
      box-sizing: content-box;
    }
  }

  @include media("<medium") {
    flex-direction: column;
    max-width: 40rem;
    width: 100vw;
    .otherplayground { 
      transform: scale(.8);
      height: 68vh;
      margin-left: -4rem;
    }
    .gameplay-header {
      display: block;
    }
  }

  @include media("<mobile") {
    .otherplayground { 
      transform: scale(.5);
      margin: 0 1rem 0 0;
    }
  }
  @include media("<small") {
  }
}