@import 'utils';

.play-ground {
  flex: 1 300rem;
  background-color: white;
  box-shadow: 0 0.2rem 0.4rem 0 rgba(0,0,0,0.2);

  .block-line {
    height: block-sizes-for('normal');
    &.view {
      height: block-sizes-for('view');
    }
  }
  &.view {
    padding: .5rem;
    flex: 1;
  }
}