@import 'utils';

.play-ground {
  flex: 1 300rem;
  .block-line {
    height: block-sizes-for('normal');
    &.view {
      height: block-sizes-for('view');
    }
  }
  &.view {
    padding: .5rem;
    flex: 1;
  }
}