@import 'utils';

.other-play-grounds {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: auto 0 auto 2rem;

  .other-play-grounds-item {
    margin: .5rem;
    width: 11 * block-sizes-for('view');;
  }
}