@import 'utils';

.common-block {
  flex: 1;
  position: relative;
}
.chat-message-list {
  height: 12 * block-sizes-for('normal');
  margin: 0;
  overflow-y: scroll;
  padding: 0.5rem;
  margin-bottom: 2rem;
}
