.chat-message-input {
  border: 10px solid lightslategrey;
  bottom: 0;
  height: 60px;
  left: 0;
  outline: none;
  padding-left: 10px;
  position: absolute;
  right: 0;
  width: 100%;
  font-size: 2em;
}