@import 'utils';

.game-control {
    background-color: $oc-gray-0;
    box-shadow: 0 0.2rem 0.4rem 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    flex: 1;
    order: 10;
    max-width: 21rem;
    min-width: 16rem;
    display: flex;
    flex-direction: column;
    .game-control-logo {
        background-color: $oc-cyan-4;
        color: $oc-gray-0;
        font-size: 3em;
        font-family: 'Limelight', cursive;
        height: 6rem;
        line-height: 6rem;
        text-align: center;
    }
    .game-control-chatting {
        background-color: $oc-gray-1;
        flex: 1 1 1rem;
    }
    .game-control-team-selector {
        background-color: $oc-pink-4;
        height: 6rem;
    }
    .game-control-start {
        background-color: $oc-lime-4;
        height: 4rem;
    }
    .game-control-training {
        background-color: $oc-orange-4;
        height: 4rem;
    }
    .game-control-hambug {
        display: none;
        position: absolute;
        right: 1rem;
        top: .4rem;
    }
    .chatting-close {
        display: none;
        text-align: right;
        font-size: 2rem;
        height: 3rem;
        line-height: 3rem;
        background: $oc-gray-1;
    }
}

@include media("<large") {
    .game-control {
        position: absolute;
        width: 100vw;
        max-width: 100vw;
        top: 0;
        left: 0;
        flex: auto;
        order: 0;

        .chatting-wrapper {
            position: absolute;
            width: 75vw;
            height: 100vh;
            max-width: 40rem;
            background: RGBA(255, 255, 255, .9);
            right:0;
            z-index:10;
        }
        .chatting-dimmed {
            position: absolute;
            z-index: 9;
            width: 100%;
            height: 100vh;
            background: RGBA(44, 44, 44, 0.6);
        }
        
        .game-control-logo {
            font-size: 2rem;
            height: 3rem;
            line-height: 3rem;
            text-align: start;
            padding: 0 1rem;
        }
    
        .chatting-close {
            display: block;
        }
        .game-control-hambug {
            display: inline-block;
            width: 2rem;
        }
    }
}

@include media("<medium") {
    .game-control {
        .game-control-logo {
            font-size: 1.4rem;
        }
    }
}