@import 'utils';

.user-info-panel {
    display: flex;
    direction: row;
    padding: 0.5rem 1rem .5rem 1rem;
    align-items: center;
    &.view {
        padding: 0.25rem;
    }
}

.user-info-emoji {
    font-size: 2 * block-sizes-for('normal');
    flex: 1;
    &.view {
        font-size: 1 * block-sizes-for('normal');
    }
}

.user-info-name {
    flex: 3;
    height: 100%;
    text-align: right;
    margin-right: 1rem;
    &.view {
        margin-right: .5rem;
    }
}
.user-info-number {
    flex: 1;
    height: 100%;
    font-size: 3rem;
    &.view {
        font-size: 1.5rem;
    }
}